/*
=======
General
=======
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #0d0104;
    font-family: 'Roboto Mono', monospace;
}

#root {
    min-height: 100vh;
}

/* Typography */

.title {
    background: steelblue;
    transition: background-color 500ms;
}

h1 {
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1em;
    margin: 0;
    color: white;
    text-align: center;
}

.header-color {
    font-weight: bold;
    display: block;
    font-size: 1.1em;
}

/*
====== 
Layout
======
*/

.main-grid {
    padding-top: 3.5em;
    gap: 1em;
    margin: 0 auto;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, minmax(50px, 100px));
    justify-content: center;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 25%;
    background: steelblue;
    transition: background-color 500ms;
}

/*
====== 
STRIPE
======
*/

.stripe {
    background: white;
    width: 100%;
    color: steelblue;
    padding: 10px;
    padding: 1em;
}

.stripe-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.message {
    font-weight: 700;
    letter-spacing: 1px;
    color: steelblue;
    display: none;
}

@media (min-width:450px) {
    .main-grid {
        padding-top: 2em;
    }
    .message {
        display: inline;
    }
    .stripe {
        padding: 1em 2em;
    }
}

.levels {
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transition: transform 250ms;
    transform: translateX(0);
}

.levels-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.btn {
    cursor: pointer;
    color: steelblue;
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
    font-size: 1.2rem;
    padding: 0;
}

.levels-item {
    font-size: 3rem;
    margin-left: 0.5em;
}

.open-levels {
    font-size: 2rem;
}

.close-levels {
    font-size: 3rem;
    position: absolute;
}

.levels-open {
    transform: translateX(-100%);
}

@media (min-width:600px) {
    .levels {
        position: initial;
        width: initial;
    }
    .levels-list {
        flex-direction: row;
        justify-content: space-between;
    }
    .open-levels, .close-levels {
        display: none;
    }
    .levels-item {
        font-size: 1rem;
    }
}

@media (min-width:600px) {
    .open-nav, .close-nav {
        display: none;
    }
    .nav {
        position: initial;
    }
    .nav-list {
        flex-direction: row;
        justify-content: flex-start;
    }
    .nav-link {
        font-size: 1rem;
    }
    .header-home .nav {
        background: transparent;
    }
}